:root {
    /* Variables Here */
    --primary: #3A1259;
    --secondary: #926DD6;
    --link-color: #612C88;
    --highlight: #E7DBFF;
}

.wrapper {
    margin: auto;
    width: 100%;

    background-color: white;
}


body {
    font-family: gill-sans-nova, sans-serif;
}

h1 {
    font-family: kallisto, sans-serif;
    font-weight: 900;
    text-align: center;
    color: var(--primary);
}

.display-2 {
    font-weight: 900;
}

h2 {
    font-family: kallisto, sans-serif;
    font-weight: 800;
    color: var(--primary);
}

p {
    font-size: 1.25rem;
}

section {
    margin-top: 40px;
}

.row {
    margin-left: 25px;
    margin-right: 25px;
}

a:link {
    color: var(--link-color);

}

a.port-button:link {
    color: white;

}

a:visited {
    color: var(--link-color);

}


a:focus {
    border: 2px solid var(--secondary);
    text-decoration: underline;
}

.nav-link {
    font-family: kallisto, sans-serif;
}

.nav-link.active {
    text-decoration: underline;
}

nav.navbar {
    padding-left: 40px;
    padding-right: 20px;
}

.navbar-dark {
    background-color: var(--primary) !important;

}

.navbar a:link,
.footer a:link {
    color: white;
    font-weight: 700;
}

.navbar a:visited,
.footer a:visited {
    color: white;
}


.footer-dark {
    background-color: var(--primary);
    color: white;
    text-align: center;

}

footer p,
footer ul,
footer a>img.bytez-logo {
    margin-top: 20px;
}

footer a {
    display: inline;
    font-size: 1.5rem;
    text-decoration-line: none;
}

footer div.socials {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;

}

footer div.socials a {
    padding: 10px;
    margin:5px;
}

ul.unstyled {
    list-style-type: none;
}

img.icon {
    width: 40px;
    height: auto;
}

footer img.icon {
    width: 60px;

}

.bytez-logo {
    display: inline-block;
    height: 40px;
    width: auto;
}

footer .bytez-logo {
    height: 50px;
    /* width: 200px; */
}

main section:last-child {
    margin-bottom: 40px;
}

/* HOME PAGE */

/* HOMEPAGE: WELCOME SECTION */
section#welcome {
    text-align: center;
}

section#welcome>img {
    width: 100%;
    height: auto;
}


/* HOMEPAGE: MISSION SECTION */
section#mission {
    text-align: center;
}

section#mission div.masonry {
    display: grid;
    grid-template-areas: 'rantly rantly autumns autumns'
        'rylan rylan autumns autumns'
        'rylan rylan autumns autumns'
        'rylan rylan board board';
    gap: 10px;
    margin-bottom: 20px;
}

section#mission div.masonry .brick:nth-child(1) {
    grid-area: rantly;
    justify-self: right;
}

section#mission div.masonry .brick:nth-child(2) {
    grid-area: autumns;
    justify-self: left;
}

section#mission div.masonry .brick:nth-child(3) {
    grid-area: rylan;
    justify-self: right;
}

section#mission div.masonry .brick:nth-child(4) {
    grid-area: board;
    justify-self: left;
    align-self: self-start;
}

/* HOMEPAGE: PORTFOLIO BLURB */

section#portfolio-blurb {
    text-align: center;
}

section#portfolio-blurb div.port-categories {
    display: grid;
    gap: 10px;
}

section#portfolio-blurb div.port-categories>a.port-button {
    color: white;
    height: 100px;
    width: 100%;
    align-self: center;
    position: relative;

}

section#portfolio-blurb div.port-categories>a>h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section#portfolio-blurb div.port-categories>a.port-button>picture>img {
    object-fit: cover;

    height: 100px;
    width: 100%;

}

/* HOMEPAGE: CONTACT SECTION ON HOME PAGE */

section#contact-blurb {
    text-align: center;
}

section#contact-blurb div.socials {
    text-align: center;
    display: grid;
    grid-template-columns: 80px 80px;
    justify-content:center;
    gap: 5px;
}

section#contact-blurb div.socials a {
    text-align: center;
    justify-self: center;
    align-self: center;
}

section#contact-blurb div.socials a:first-child {
    grid-column: 1 / span 2;
}




/* PORTFOLIO PAGE */

/* PORTFOLIO: FILTERS SECTION */


section#filters a.toggle h4>svg.bi-chevron-right {
    transition: transform 0.5s;
}

section#filters a.toggle[aria-expanded="true"] h4>svg.bi-chevron-right {
    transform: rotate(90deg);
    transition: transform 0.5s;
}

section#filters .card {
    border: none;
    border-left: var(--secondary) 2px solid;
    border-radius: 0;
}

input[type="radio"] {
    accent-color: var(--secondary);
}

.pagination {
    position: relative;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    /* margin:auto; */

}

.pagination a.active {
    background-color: var(--link-color);
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

/* Not displayed by default - the 'show' class is added by the script to allow for filtering */
.filterDiv {
    display: none;
}

.show {
    display: block;
}

.browser {
    padding: 10px;
    margin: 10px;
    margin-top: 40px;
    border: 3px solid var(--primary);

}

.browser::before {
    box-sizing: border-box;
    font-size: 14pt;
    color: white;
    border: 3px solid var(--primary);
    display: inline-block;
    content: "\2013   \2610   \2613";
    align-self: flex-end;
    text-align: right;
    background-color: var(--primary);
    width: calc(100% - 118px);
    margin: auto;
    position: absolute;
    transform: translate(-13px, -30px);
}

section#pieces img.thumbnail {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid var(--primary);
    border-radius: 5px;

}

/* CONTACT PAGE */

section#contact-form form input,
section#contact-form form textarea {
    display: block;
    width: 100%;
    background-color: var(--highlight);
    border: 3px solid var(--primary);
    border-radius: 5px;
    font-size: 1.25rem;
    color: var(--primary);
    padding: 5px 10px 5px 10px;
}

section#contact-form form textarea {
    height: calc(1.25rem * 7);

}

section#contact-form form label {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary);
}


a#jump-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    max-width: 80px;
    width: 100%;
    font-size: 3.25rem;
    padding: 2px;
    text-align: center;
}

a#jump-top {
    width: 100%;
}


/* sm Screen Breakpoint (Tablet) */
@media screen and (min-width: 576px) {

    section#welcome,
    section#welcome h1 {
        text-align: left;
    }

    section#portfolio-blurb div.port-categories {
        grid-template-columns: repeat(2, 1fr);
    }

    section#portfolio-blurb div.port-categories>a.port-button:first-child {
        grid-column: 1 / span 2;
    }

    section#contact-blurb div.socials {
        display: flex;
    }

    section#contact-blurb div.socials a:nth-child(1), div.socials a:nth-child(4), div.socials a:nth-child(5) {
        order:1;
    }

    /* section#contact-blurb div.socials a.kbc-button-lg {
        font-size: px;
    } */

    .pagination {
        margin-left: 22px;
        margin-right: 10px;
    }

    .pagination span {
        background: #fff;
        padding: 0 15px;
        position: relative;
        z-index: 1;
    }

    .pagination:before {
        background: var(--link-color);
        content: "";
        display: block;
        height: 3px;
        position: absolute;
        top: 50%;
        width: calc(100% - 40px);
        margin: auto;
    }

    .pagination:before {
        left: 0;
    }


    .footer-dark {
        text-align: start;
        justify-content: space-between;
    }

    footer div.socials {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    footer div.socials a {
        place-self: center;

    }



    footer ul {
        margin-top: 0px;
    }

}

/* md Screen Breakpoint (Desktop) */
@media screen and (min-width: 768px) {

    body {
        background-image: url("../images/general-assets/background.png");
        background-attachment: fixed;
    }

    .wrapper {
        width: 75%;
        max-width: 1200px;


    }

    div.navbar-collapse ul {
        justify-self: right;
    }

    div.navbar-collapse li.nav-item {
        padding: 5px;
        font-size: 1.25rem;
        border-left: 1px solid white;
    }

    div.navbar-collapse li.nav-item:first-child {
        border-left: none;
    }



    section#welcome div:nth-child(2),
    section#mission div:nth-child(2) {
        align-self: center;

    }

    section#mission div.masonry .brick:nth-child(1) {
        align-self: self-end;
    }

    section#mission div.masonry .brick:nth-child(2) {
        align-self: self-end;
    }

    section#pieces div.row>div:nth-child(2) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;

    }

    .browser {
        /* margin:none;
        padding:none; */
        width: 95%;
    }

    .browser::before {
        width: calc(35% - 49.5px);
        transform: translate(-13px, -30px);
    }

    a#jump-top {
        right: calc(12.5% + 40px);
    }

    footer .bytez-logo {
        height: 50px;
    }
}