/* CSS Here */


:root {
    /* Variables Here */
    --primary: #3A1259;
    --secondary: #926dd6;
    --link-color: #612C88;
    
}

.wrapper {
    margin:auto;
    width: 100%;
    
    background-color: white;
}


body {
    font-family: gill-sans-nova, sans-serif;
}

h1 {
    font-family: kallisto, sans-serif; 
    font-weight:900;
}

h2 {
    font-family: kallisto, sans-serif;
    font-weight: 800;
    

}

a:link {
    color: var(--link-color);
    
}
a.port-button:link {
    color: white;

}
a:visited {
    color: var(--link-color);
    
}
a:hover {

}

a:active {
    
}

a:focus {
    border: 2px solid var(--secondary);
    text-decoration: underline;
}

.nav-link.active {
    text-decoration: underline;
}

.navbar-dark {
    background-color: var(--primary) !important;
    
}

.navbar a:link, .footer a:link {
    color:white;
    font-weight:700;
}

.navbar a:visited, .footer a:visited {
    color:white;
}


.footer-dark {
    background-color: var(--primary);
    color:white;
    text-align: center;
    
}

footer p, footer ul, footer a > img.bytez-logo {
    margin-top: 20px;
}

footer a {
    display:inline;
    font-size:1.5rem;           
}

footer div.socials {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    justify-content: space-around;
    
    
}
footer div.socials a {
    padding: 10px;

}



ul.unstyled {
    list-style-type: none;
}

img.icon {
    width: 40px;
    height: auto;
}
footer img.icon {
    width:60px;
}

.bytez-logo {
    display: inline-block;
    height:40px;
    width:auto;
}

footer .bytez-logo {
    height:70px;
}



/* sm Screen Breakpoint (Tablet) */
@media screen and (min-width: 576px) {
    .footer-dark {
        text-align:start;
    }

    footer div.socials {
        grid-template-columns: 1fr 1fr;
    }

    footer div.socials a {
        place-self: center;
        
    }
    
    

    footer ul{
        margin-top: 0px;
    }

}

/* md Screen Breakpoint (Desktop) */
@media screen and (min-width: 768px) {
    body {
        background-image: url("/images/general-assets/background.png");
    }
    .wrapper {
        width: 75%;
        height:100%;
        max-width: 1200px;
        
        
    }
}

